#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  box-sizing: border-box;
}
html, body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica, sans-serif;
  color: #000;
}

body {
background-image: url('./svg.svg');
background-repeat: no-repeat;
width: 100%;
}

header {
  justify-items: center;
}

nav {
  color: #e90b0b;
  display: flex;
  align-items: flex-end;
  position: fixed;
  width: 100%;
  top: 0;
  flex-direction: column;
}

ul{
  list-style: none;
}

li, a {
  display: inline-block;
  padding: 10px 10px;
  font-family: navFont;
  font-size: 25px;
  color:  #CCCCCC;
  text-decoration: none;
}

#burger-menu {
  background: none;
  border: none;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  margin: -9px;
}

@font-face {
  font-family: navFont;
  src: url(./fonts/Kugile_Demo.ttf);
}

/* CSS */
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 8%;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

h2 {
  font-family: h2Font;
  font-size: 40px;
  margin-top: 50%;
}

.container {
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: h2Font;
  src: url(../../fonts/ChicAvenue-Regular.otf);
}

section {
  display: flex;
  justify-content: space-between;  
}

.about-text {
  margin-top: 20%;
}

label,
input,
textarea {
    display: block;
    width: 100%;
}

span {
    font-weight: 700;
    color: #102a43;
    line-height: 35px;
    line-height: 2.5rem;
    font-size: 12px;
    font-size: 0.8rem;
    text-transform: uppercase;
}

form {
    background-color: #ffffff;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    overflow: hidden;
}

.required-star {
    color: #fc4366;
}

input,
textarea {
    width: 100%;
    padding: 9px 20px;
    border: 1px solid #e1e2eb;
    background-color: #fff;
    color: #102a43;
    caret-color: #829ab1;
    box-sizing: border-box;
    font-size: 14px;
    font-size: 1rem;
    line-height: 29px;
    line-height: 2rem;
    box-shadow: inset 0 2px 4px 0 rgba(206, 209, 224, 0.2);
    border-radius: 3px;
    line-height: 29px;
    line-height: 2rem;
}

.error-message {
  color: red;
  font-size: 0.9rem;
}

.success-message {
  color: green;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.required-star {
  color: red;
}


@media (max-width:720px) {

li, a {
color:#330000;
}

ul {
align-items: center;
}

#nav-links {
display: none;
flex-direction: column;
justify-content: center; 
align-items: center;
position: fixed; 
top: 23%;
left: 50%;
transform: translate(-50%, -50%);
}

#nav-links.active {
display: flex;
}

main, h2 {
  text-align: center;
  margin-top: 38%;
  font-size: 40px;
  margin-bottom: 0%;
}

.comments-container {
  margin-top: -35%;
}

.article-title {
  margin-top:40%;
  color: #003300;
}

header {
  color: #d51313;
}

.button-54 {
  margin-top: 15%;
}

header {
  border: 2px solid yellow;
  display: flex;
  flex-direction: column;
}


}

@media (min-width: 720px) {
#burger-menu {
  display: none; 
}

#nav-links {
  display: flex; 
  flex-direction: row;
}

}

.container {
  margin-top: 65%;
}

.article-detail {
  margin-top: 25%;
}

.comments-container {
  margin-top: -45%;
}

#article-text {
  font-family: h2Font;
  font-size: 40px;
  margin-top: 3%;
}


/* form delete */

